@using PersonaLight.HtmlHelperCustom
@using PersonaLight.Models
@model CadastroDesejo
@{
    ViewBag.Titulo = "Desejos";
    ViewBag.Title = "Desejos";
}
@Html.MenuSistema((string)ViewBag.Titulo)
<div id="corpoPrincipal">       
    <div class="caixa">
    @using (Html.BeginForm("Salvar", "CadastroDesejo", FormMethod.Post, new { id = "CadastroDesejo" }))
    {
        <div class="formulario">
            @Html.BotaoSalvar(Model.Entidade.Id != 0)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("_MensagemErro",Model.Erro)
             <div style="display:inline-flex; width:100%;">
                <div class="form-group" style="width:86%; padding-right:1%">
                        @Html.Label("Descrição")
                        @Html.EditorFor(model => model.Entidade.Descricao, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Entidade.Descricao, "", new { @class = "text-danger" })
                </div>
                <div class="form-group" style="width:15%;">
                    @Html.Label("Realizado")
                    @Html.EditorFor(model => model.Entidade.Realizado, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.Entidade.Realizado, "", new { @class = "text-danger" })
                </div>                   
             </div> 
            <div class="form-group">
                @Html.Label("Valor")
                @Html.EditorFor(model => model.Entidade.Valor, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Entidade.Valor, "", new { @class = "text-danger" })
            </div>      
            <div class="form-group">
                @Html.Label("Ordem")
                @Html.EditorFor(model => model.Entidade.Ordem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Entidade.Ordem, "", new { @class = "text-danger" })
            </div> 
            @Html.HiddenFor(m => m.Entidade.Id)
        </div>
    }
    </div>
</div>
@Html.Partial("_AcaoDeletar")