@using System.Net
@using PersonaLight.Constantes
@using PersonaLight.HtmlHelperCustom
@model CadastroBlog
@{
    ViewBag.Title = "Blog"; 
}
@Html.Partial("_HeadSite")
@Html.MenuSite()
@Html.MastHead(false,true)
<div id="postagensBlog" class="blog">
    @foreach (var postagem in Model.ObterListaPaginaBlog())
    {
        <div class="postagem-blog">
            <a href="@(Urls.BlogVisualizar)@postagem.Id" style="color: #9900FF;"><h3 class="tituloPostagem" >@postagem.Titulo</h3></a>
            <div class="corpoPostagem">
                @Html.Raw(WebUtility.HtmlDecode(postagem.Conteudo))
            </div>
            <div class="rodapePostagem">@postagem.DataPublicacao.ToShortDateString()</div>
        </div>
        <br />
        }
        @Html.HiddenFor(H=>H.Pagina)
        @Html.HiddenFor(H=>H.Categoria)
        <div class="blocoBotoesBlog">
            <a class="btn-blog"  id="voltarPagina" title="Página anterior"><i class="fas fa-step-backward"></i></a>      
            <a class="btn-blog" id="proximaPagina" title="Próxima página"><i class="fas fa-step-forward"></i></a>
             
        </div>         
</div>
@Html.FooterSite()
@Html.Partial("_ScriptsSite")
@section Scripts {
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6459928334170615" crossorigin="anonymous"></script>
    <script>
         $("#proximaPagina").click(function() {
             var proximapagina = parseInt($("#Pagina").val(), 10)+1;
            location.replace('/Blog?pagina='+ proximapagina+"&cat="+$("#Categoria").val());
         });
         $("#voltarPagina").click(function() {
             var proximapagina = $("#Pagina").val()-1;
            location.replace('/Blog?pagina='+ proximapagina+"&cat="+$("#Categoria").val());
         });        
    </script>
}
