@using System.Net
@using PersonaLight.HtmlHelperCustom
@model CadastroBlog
@{
    ViewBag.Title = Model.Entidade.PostagemPublica() ? Model.Entidade.Titulo : "Postagem não encontrada.";
}
@Html.Partial("_HeadSite")
@Html.MenuSite()
@Html.MastHead(false,true)  
<div class="postagem-blog">
    <h3 class="tituloPostagem">@(Model.Entidade.PostagemPublica() ? Model.Entidade.Titulo : "Postagem não encontrada.")</h3>
    @if (Model.Entidade.Publicado && Model.Entidade.DataPublicacao <= DateTime.Now)
    {
        <div class="corpoPostagem">
            @Html.Raw(WebUtility.HtmlDecode(Model.Entidade.Conteudo))
        </div>
    }
    <div class="rodapePostagem">@(Model.Entidade.PostagemPublica() ? @Model.Entidade.DataPublicacao.ToShortDateString() : DateTime.Now.ToShortDateString()) </div>
</div>  
@Html.FooterSite()   
@Html.Partial("_ScriptsSite")
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6459928334170615" crossorigin="anonymous"></script>