@using PersonaLight.Constantes
<!DOCTYPE html>
<html lang="pt-br">
<!-- This is not the greatest site in the world, no. This is just a tribute! Couldn't remember the greatest site in the world... -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="@DadosSite.Descricao." />
    <meta name="author" content="David Matos de Oliveira" />
    <meta name="keywords" content="David, Oliveira, dev, software, desenvolvedor, programador, site, aplicativo, android, .net, mvc, fotografia, blog" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />     
    <meta property="og:image" content="/Assets/bg-masthead.jpg">
    <link rel="image_src" href="/Assets/bg-masthead.jpg" />
    <title>@ViewData["Title"] - @DadosSite.Titulo</title>
    <script src="/js/all.js" crossorigin="anonymous"></script>    
    <link href="/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
</head>
<body id="page-top">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>    
    <script src="/js/jquery.inputmask.js"></script>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
