@using PersonaLight.HtmlHelperCustom
@model Login
@{
    ViewBag.Title = "Login";
}
<div style='width: 100%;height: 100%; background: linear-gradient(180deg, rgb(150, 117, 206) 20%, rgba(0, 0, 0, 1) 80%); background-size: 100% 100%;top: 0;position: absolute;'>
    <div class="corpoLogin" style="margin-right: 25%; margin-left: 25%; margin-top:10%">
        <div id="formularioLogin" style="font-size: 2rem; background-color: #FFF; padding: 20px; border-radius: 6px;">
            <h2 style="text-align:center;">Login</h2>
            @using (Html.BeginForm("Logar", "Login", FormMethod.Post, new { id = "login"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Usuario")
                    @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Senha")
                    @Html.PasswordFor(model => model.Senha, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
                <div style="width:100%; text-align:center;">
                    @Html.Botao("entrar","Entrar","btn btnPadrao",tipo:"submit")
                </div>
                
            }
        </div>
    </div>
</div>