@using System.Net
@using PersonaLight.Constantes
@using PersonaLight.HtmlHelperCustom
@{
    ViewBag.Title = "Projetos"; 
}
@Html.Partial("_HeadSite") 
@Html.MenuSite()
@Html.MastHead(false,true)
<div id="projetos" class="projetos">
    @Html.ItemProjeto("Persona","../assets/persona.jpg","O PERSONA é um site pessoal, desenvolvido para ser uma mistura de marketing pessoal e organizador, ele conta com um site externo e um sistema restrito."+
                    "O site já vem com uma landing page e um blog, podendo ser personalizado com suas cores preferidas e caso deseje outras paginas de acordo com suas necessidades."+
                    "Já o sistema restrito é acessado com um login e conta com ferramentas para organizar sua vida, um diário(que também é usado para o blog), uma tela de controle financeiro, orçamento e reservas financeiras além de um cadastro de dados médicos."+
                    "O PERSONA está em constante desenvolvimento e novas funcionalidades são incluídas constantemente.")
    @Html.ItemProjeto("S.A.A.M.","../assets/saam.jpg","O S.A.A.M é um Sistema de Agenda e Atendimentos Médicos, desenvolvido para ser uma ferramenta simples e direta, ele conta com agenda e controle de médicos e pacientes."+
                    "Sua principal função é garantir um ambiente onde o médico possa ver o histórico dos pacientes com dados pessoais, histórico de consultas, histórico de melhorias e evolução."+
                    "Assim como o PERSONA o S.A.A.M conta com um site, com landing page, blog e também uma área de contato que além de gravar no próprio sistema o contato do paciente envia um e-mail para você."+
                    "O S.A.A.M. apesar de ser desenvolvido com médicos como publico alvo pode ser adaptado a outros setores de atendimento além de poder ser personalizado de acordo com a sua vontade.",true)
    @Html.ItemProjeto("Mais projetos...","../assets/bg-masthead2.jpg","Conheça mais sobre os projetos, ideias, opiniões e novidades lendo o <a href=\""+Urls.BlogProgramacao+"\">blog</a>. Ou entre em contato pelas redes sociais e saiba mais...")      
</div>
@Html.FooterSite()
@Html.Partial("_ScriptsSite")